html {
  font-size: 22px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(181, 66, 66);
  color: aliceblue;
  padding: 20px;
  font-family: sans-serif;
}

th {
  background-color: #000000;
}

textarea {
  width: 95%;
  max-width: 95%;
  min-height: 150px;
  display: block;
  margin: 0.5rem 0;
}

fieldset label,
fieldset input,
fieldset select {
  display: block;
  margin: 0.5rem 0;
}
